.copy_right_footer 

{
    text-align:center;
    position:fixed;
    bottom:0;
    line-height:3;
    width:100%;
    color:rgb(87, 5, 60);
     background-color:burlywood;
}

.heading

{
    font-size:26px;
    width:100%;
}

.NOTE1

{
font-size:17px;
color:darkred;
}

canvas

{
    border:5px;
    border-radius:20px;
    box-shadow:5px 5px 5px rgb(28, 148, 136);
    
}